html
  title MyoPong
  head
    link(rel='stylesheet', type='text/css', href='/stylesheets/game.css')
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/client.js')
  body
    #game-container
      img#ball(src='/images/ball.png')
      #left
        img#opponentPaddle(src='/images/paddle.png')
      #right
        img#playerPaddle(src='/images/paddle.png')
