html
  title MyoPong
  head
    link(rel='stylesheet', type='text/css', href='/stylesheets/game.css')
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/client.js')
  body
    #game-container
      #left
      #right
