
html
  head
    title MyoPong
  body
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/index.js')
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    |     
    script.
      var socket = io();
      $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
      });

    img#logoimg(src='/images/logo.png')

    div#playercontainer
      p#playerSelect Select Player!
      div#player1
        a(href='#') Player 1
      div#player2
        a(href='#') Player 2
