#game-container {
    width:100%;
    height: 100%;
    display:inline-block;
}

#left {
    float:left;
    width: 50%;
    height:100%;
    background: blue;
}

#right {
    float:right;
    width:50%;
    height:100%;
    background-color: red;
}

#playerPaddle {
    position: absolute;
    width: 50px;
    height:50px;
}

#opponentPaddle {
    position: absolute;
    width: 50px;
    height:50px;
}

#ball {
    position: absolute;
    width: 30px;
    height:30px;
    z-index: 10;
}